@import "~bootstrap/scss/bootstrap";
$primary-color: #000b6d;
$red-color: #881717;
$light-text-color: #fff;
$dark-text-color: #393939;

@mixin font-headers($style) {
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: $style;
}

$font-headers: "Itim", cursive;

* {
  box-sizing: border-box;
}

header {
  height: 65px;
  background: $primary-color;
  display: flex;
  align-items: center;
  justify-content: right;
  padding: 40px;
}

h1 {
  color: $light-text-color;
}

h3 {
  font-size: 1.5rem;
  color: $dark-text-color;
}

h1,
h3 {
  @include font-headers("normal");
}

p {
  margin: 0;
}

.container {
  padding-top: 60px;
}

.list-group-item {
  margin-bottom: 2px;
}

.list-group-item.active {
  background-color: $primary-color;
  border-color: $primary-color;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

// Add List/Item big button
.big-plus {
  width: 100%;
  margin-top: 10px;
  font-size: 20px;
  background: none;
  border: dashed 1px $primary-color;
  &:hover {
    background: $primary-color;
    color: $light-text-color;
  }
}

// Modal
.modal-header {
  justify-content: space-between;
  color: $dark-text-color;
  padding: 8px 16px;
  .close {
    @include font-headers(regular);
    color: $dark-text-color;
    font-size: 25px;
    border-width: 0;
    background: none;
    padding: 0;
  }
}

form {
  display: flex;
  justify-content: space-between;
  // align-items: top;
  .input-div {
    min-width: 80%;
    margin-right: 10px;
    min-height: 35px;
  }
  button {
    align-self: flex-start;
  }
  input {
    width: 100%;
  }
  .validation-warning {
    color: $red-color;
  }
}

// Confirm Delete Modal
#confirmDeleteModal {
  .modal-header {
    justify-content: right;
  }

  .modal-buttons-right {
    margin-top: 8px;
    text-align: right;
    & button {
      margin-left: 10px;
    }
  }
}

// Icons

.fa-plus {
  color: $dark-text-color;
}

.fa-plus {
  color: $dark-text-color;
  &:hover {
    cursor: pointer;
  }
}

.icons {
  display: flex;
  width: 10%;
  gap: 8px;
  justify-content: end;
}
